providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
{% if cert_from_file %}
  file:
    filename: /etc/traefik/provider.yaml
{% endif %}

log:
  level: DEBUG

api:
  dashboard: true

certificatesResolvers:
  letsencrypt:
    acme:
      email: "{{ lets_encrypt_email }}"
      storage: "/acme.json"
      tlschallenge: true

entrypoints:
  web:
    address: ":80"
{% if force_https %}
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
{% endif %}
  websecure:
    address: ":443"
  dashboard:
    address: ":9080"
{% if force_https %}
    http:
      redirections:
        entryPoint:
          to: dashboardsecure
          scheme: https
{% endif %}
  dashboardsecure:
    address: ":9443"
