[Unit]
Description=Traefik
Documentation=man:podman-generate-systemd(1)
Wants=network-online.target
After=network-online.target podman.socket
RequiresMountsFor=%t/containers

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStopSec=70
ExecStart=/usr/bin/podman run \
	--cidfile=%t/%n.ctr-id \
	--cgroups=no-conmon \
	--sdnotify=conmon \
	--name=traefik \
	--network=traefik \
	--replace \
	-d \
	-v /run/user/1000/podman/podman.sock:/var/run/docker.sock \
	-v /home/agent/traefik/traefik.yaml:/etc/traefik/traefik.yaml:ro \
	-v /home/agent/traefik/acme.json:/var/traefik/acme.json:rw \
	-p 8080:80 \
	-p 8443:443 \
	--label 'traefik.enable=true' \
	docker.io/library/traefik:v2.10
ExecStop=/usr/bin/podman stop \
	--ignore -t 10 \
	--cidfile=%t/%n.ctr-id
ExecStopPost=/usr/bin/podman rm \
	-f \
	--ignore -t 10 \
	--cidfile=%t/%n.ctr-id
Type=notify
NotifyAccess=all

[Install]
WantedBy=default.target
