providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
{% if cert_resolver == 'file' %}
  file:
    filename: /etc/traefik/provider.yaml
{% endif %}

log:
  level: DEBUG

api:
  dashboard: true

{% if cert_resolver == 'lets_encrypt' %}
certificatesResolvers:
  letsencrypt:
    acme:
      email: "{{ lets_encrypt_email }}"
      storage: "/acme.json"
      tlschallenge: true
{% endif %}

entrypoints:
  web:
    address: ":80"
{% if force_https %}
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
{% endif %}
  websecure:
    address: ":443"
  traefik:
    address: ":8080"
